.About
    max-width: 1140px
    position: relative
    display: grid
    grid-auto-flow: column
    margin-left: auto
    margin-right: auto
    margin-bottom: 200px
    &-Preview
        position: relative
    &-Image
        min-width: 512px
        height: 100%
    &-Logo
        position: absolute
        bottom: -3px
        left: 3px
    &-Content
        padding-left: 68px
    &-Title
        margin-bottom: 60px
        margin-top: 0
        font:
            size: 69px
            family: "Helios", sans-serif
            weight: bold
    &-Ph
        font:
            family: "Gotham", sans-serif
            size: 15px
        line-height: 25px
        margin-top: 0
        margin-bottom: 40px

