.Contact
    position: relative
    display: grid
    grid-auto-flow: column
    max-width: 1140px
    margin: auto auto 200px
    &-Title
        font:
            family: "Helios", sans-serif
            size: 69px
            weight: bold
    &-Ph
        font:
            family: "Gotham", sans-serif
            size: 19px
        line-height: 33px
    &-Phone
        max-width: fit-content
        display: block
        font:
            weight: bold
        color: #000
        text-decoration: none
    &-Small
        display: block
        margin:
            bottom: 280px
        font:
            size: 13px
        opacity: 0.5
    &-Requisites
        font:
            size: 11px
            weight: bold
    &-Info
        padding:
            right: 50%
    &-Map
        position: absolute
        top: 0
        bottom: 0
        right: -27vw
        margin: auto
        width: 900px
        height: 490px
        background: url("./img/map.svg") center/contain no-repeat
        
.Map
    position: relative
    width: 100%
    height: 100%
    &-Pos
        position: absolute
        bottom: 180px
        left: 365px
        &:hover
            .Map-Info
                opacity: 1
            .Map-Dot
                transform: scale(1.6)
                background: #81B33B
                &:before
                    background: #fff
    &-Info
        //opacity: 0
        //transition: opacity 0.4s ease

        position: absolute
        min-width: 296px
        min-height: 205px
        width: 296px
        height: 205px
        left: -300px
        bottom: 100px
        padding: 40px
        background: url("./img/bg.svg") center/contain no-repeat
        &:before
            position: absolute
            bottom: -25px
            right: -56px
            content: ''
            display: block
            width: 113px
            height: 1px
            background: #81B33B

            transform: rotate(76deg)

    &-Dot
        position: relative
        width: 24px
        height: 24px
        background: rgba(129, 179, 59, 0.2)
        border-radius: 50%
        border: 1px solid #81B33B
        cursor: pointer
        transition: transform 0.1s ease
        &:before
            position: absolute
            content: ''
            display: block
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto
            width: 6px
            height: 6px
            background: #81B33B
            border-radius: 50%

.Title
    font:
        size: 12px
        family: "Gotham", sans-serif
    color: #fff
.Ph
    font:
        size: 12px
        family: "Gotham", sans-serif
    color: #fff
    line-height: 19px
.Phone
    font:
        size: 12px
        family: "Gotham", sans-serif
    text-decoration: none
    color: #fff
