.Header
    &-Info
        display: grid
        grid-auto-flow: column
        gap: 40px
        color: #949494
    &-Work
        transition: color ease 0.3s
        &:hover
            color: #000000
    &-Profile
        transition: color ease 0.3s
        &:hover
            color: #000000
    &-Phone
        padding-left: 20px
        transition: color ease 0.3s
        &:hover
            color: #000000
